.hero{
    width:100%;
    min-height:90vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px;
    background:#f8fbff;
}

.hero-left{
    width:50%;
}

.tag{
    background:#dbeafe;
    color:#2563eb;
    padding:8px 18px;
    border-radius:25px;
    font-weight:600;
}

.hero-left h1{
    font-size:60px;
    margin:30px 0;
    line-height:1.2;
}

.hero-left span{
    color:#2563eb;
}

.hero-left p{
    font-size:20px;
    color:#555;
    line-height:1.7;
    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.find-btn{
    padding:15px 35px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:17px;
}

.post-btn{
    padding:15px 35px;
    background:white;
    color:#2563eb;
    border:2px solid #2563eb;
    border-radius:8px;
    cursor:pointer;
    font-size:17px;
}

.find-btn:hover{
    background:#1d4ed8;
}

.post-btn:hover{
    background:#2563eb;
    color:white;
}

.hero-right{
    width:45%;
}

.hero-right img{
    width:100%;
    border-radius:20px;
}