.why {
  width: 100%;
  padding: 80px 8%;
  background: #f8fafc;
}

.why-title {
  text-align: center;
  margin-bottom: 50px;
}

.why-title h2 {
  font-size: 40px;
  color: #0f172a;
}

.why-title p {
  margin-top: 10px;
  font-size: 18px;
  color: #64748b;
}

.why-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 25px;
}

.why-card {
  background: white;
  padding: 35px;
  border-radius: 18px;
  text-align: center;
  border: 1px solid #e2e8f0;
  transition: .3s;
}

.why-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

.why-icon {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  background: #2563eb;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 36px;
}

.why-card h3 {
  margin-bottom: 15px;
  color: #0f172a;
}

.why-card p {
  color: #64748b;
  line-height: 1.7;
}